services:
  matrixbot:
    build: .
    image: matrixbot-go:latest
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
